{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'endusers:enduser_home_view'%}">User Home</a></li>

      <li class="breadcrumb-item active" aria-current="page">Appointments</li>
    </ol>
  </nav>
  <h2 class="mb-3">Appointments</h2>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Appointment</th>


        </tr>
      </thead>
      <tbody>
        {% for appointment in appointments %}
          <tr>
            <td class="align-middle"><a href="{% url 'endusers:appointment_change' appointment.pk %}">{{ appointment.name }}</a></td>
            
            <td class="align-middle">{{ appointment.name }}</td>
            
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any appointment yet.</td>
          </tr>
        {% endfor %}



       

      </tbody>
    </table>
  </div>
{% endblock %}
